
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight:700;
}


/* =====LAYOUT=======*/

html {
	background-color:#838284;
	color:#ffffff;
	font-size: 62.5%;
	}

body {
	margin: 0;
  	padding: 0;
	font: 1em Roboto;
	font-weight: 700;
	color:#a1a4b0;

	
	}
	
/* Set margin and padding to 0 for all elements */
 
* {margin: 0; padding: 0;}

/*remove link outlines*/
a {
   outline: none;
}
	a:link {
	color: #FFF;
	text-decoration: none;
}
	a:active {
	color: #FFFF33;
	text-decoration: none;
}
	a:visited, a:focus {color: #FFF; text-decoration: none; }
	a:hover {color: #ffff33; text-decoration: none; }


h1 {
	padding-top:4px;
	padding-bottom:2px;
	font-variant: small-caps;
	text-transform: capitalize;
	font-weight:400;	
	font-size: 8em;
}

#wrapper{
	width:65%;
	position:relative;
	margin: 10% auto;
	text-align: center;
}

.col{
	float:left;
	width:50%;
	text-align: center;
	font-weight:400;

}

.col #label{
	background-color: #000;
	color:#fff;
	border:3px solid #fff;
}

#take {
	background-color: #ffff00;
	color:#000;
	border:3px solid #000;
}

#pass{
	background-color:#fff;
	color:#000; 
	border:3px solid #000;
}
#take, #pass{

	text-align: center;
	font-size: 25em;
	letter-spacing: -20px;
}




#state{
	color:#000;
	font-size: 10.5em;
	clear:both;
	border:3px solid #000;

}
.yellow{
	color: #ffff00;
} 

.now{
	background-color:#ff0000;
}

.next{
	background-color:#00ff00;
}

@media (min-width: 300px) {
    html { font-size: 10%; }
    #take, #pass{letter-spacing: -2px;}
}

@media (min-width: 500px) {
    html { font-size: 20%; }
    #take, #pass{letter-spacing: -2px;}
}

@media (min-width: 700px) {
    html { font-size: 40%; }
    #take, #pass{letter-spacing: -15px;}
}
@media (min-width: 900px) {
    html { font-size: 50%; }
}
@media (min-width: 1199px) {
    html { font-size: 62.5%; }
}



