@import 'variables';

.state-section {
  text-align: center;
  background-color: $state-message-background-next;
  height: 100%;
  font-size: 18vmin;
  font-weight: 700;
  margin: 1rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;

  &--active {
    background-color: $state-message-background-active;
  }
}
