.take-counter {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  &__section {
    flex: 1 1 45%;
    height: 80vh;

    &--prominent {
      flex: 1 1 55%;
    }

    &--full {
      flex-basis: 100%;
    }

    &--bottom {
      height: 20vh;
    }

    &--hidden {
      display: none;
    }
  }
}
