$element-background-color: #ffffff;
$heading-background-color: rgb(35, 31, 32);
$dark-text-color: rgb(35, 31, 32);

$state-message-background-next: rgb(0, 153, 51);
$state-message-background-active: rgb(209, 32, 56);
